@model GYM93.Models.ThanhVien

@{
    ViewData["Title"] = "Delete";
}


<h3>Bạn Có Chắc Muốn Xóa Thành Viên Này Chứ?</h3>
<div>
    <h5>Dữ Liệu Của Thành Viên Này Sẽ Mất Mãi Mãi Trên Hệ Thống</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoVaTenDem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoVaTenDem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sđt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sđt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.GioiTinh == true)
            {
                @:Nam
            }
            else
            {
                @:Nữ
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BienSoXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BienSoXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnhTv)
        </dt>
        <dd class = "col-sm-10">
            <img src="/@Model.HinhAnhTv" alt="Hình Ảnh Thành Viên Gym93" class="img-thumbnail" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ThanhVienId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở Về Danh Sách</a>
    </form>
</div>
