@model GYM93.Models.ThanhVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThanhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoVaTenDem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoVaTenDem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sđt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sđt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnhTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnhTv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ThanhVienId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
