@model IEnumerable<GYM93.Models.ThanhVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTenDem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sđt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnhTv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTenDem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sđt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnhTv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThanhVienId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThanhVienId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThanhVienId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
