@model IEnumerable<GYM93.Models.ThanhVien>

@{
    ViewData["Title"] = "Thành Viên Trong CLB";
}

<h1>Danh Sách Thành Viên</h1>

<p>
    <a asp-action="Create">Tạo Thành Viên Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTenDem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sđt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnhTv)
            </th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTenDem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sđt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnhTv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThanhVienId">Chỉnh Sửa Thông Tin</a> |
                <a asp-action="Details" asp-route-id="@item.ThanhVienId">Thông Tin Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ThanhVienId">Xóa Thành Viên</a>
            </td>
        </tr>
}
    </tbody>
</table>
