@model IEnumerable<GYM93.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1 class="mb-4 text-primary">Danh Sách Hóa Đơn</h1>
    <p>
        <a href="/hoadon/create" class="btn btn-success">Tạo Hóa Đơn Mới</a>
    </p>
    <table id="tblData" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.HoaDonId)</th>
                <th>@Html.DisplayNameFor(model => model.ThanhVien)</th>
                <th>@Html.DisplayNameFor(model => model.ThangDangKy)</th>
                <th>@Html.DisplayNameFor(model => model.NgayThanhToan)</th>
                <th>@Html.DisplayNameFor(model => model.TongTien)</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be loaded here by DataTables -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/orderdatatable.js" asp-append-version="true"></script>
 

}