@using GYM93.Models.ViewModels
@model AppUser

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Thông Tin Tài Khoản</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Tên Đăng Nhập:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.UserName</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Họ và Tên:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.FullName</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.Email</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Số Điện Thoại:</label>
                        <div class="col-sm-8">
                            <p class="form-control-plaintext">@Model.PhoneNumber</p>
                        </div>
                    </div>
                    <!-- Image preview container -->
                    <div id="imagePreview" class="image-preview-container" style="margin-right:60px; margin-top: 20px;">
                        <!-- Placeholder for the image -->
                        <img src="@Model.HinhAnhTv" alt="Hình Ảnh Thành Viên Gym93" class="img-fluid" />
                    </div>

                    <!-- Thêm các field khác ở đây -->
                    
                    <div >
                        <a href="@Url.Action("PersonalProfile", "Auth", new {userId = Model.Id})" class="btn btn-primary">Chỉnh Sửa Thông Tin</a> |
                        <a href="@Url.Action("ChangePassword", "Auth")" class="btn btn-primary">Đổi Mật Khẩu</a>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link href="~/template/css/avatar.css" rel="stylesheet" />

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}